<app-organism-search [modelName]="{singular: 'fish', plural: 'fish'}">
  <div class="card">
    <div class="card-header" id="searchBySizeHeader">
      <button class="btn btn-success" data-toggle="collapse" data-target="#searchBySize"
              aria-expanded="false" aria-controls="searchBySize">
        Search By Size
      </button>
    </div>
    <div class="collapse" id="searchBySize" aria-labelledby="searchBySizeHeader" data-parent="#accordion">
      <div class="card-body">
        <div class="row ml-5">
          <div class="col" *ngFor="let size of allSizes$ | async">
            <a class="btn btn-success" [routerLink]="['/fish']"
               [queryParams]="{ size: size.queryValue, sortBy: sortBy }">{{size.displayValue}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-organism-search>
