<ng-container *ngIf="model$ | async as model">
  <div class="card main" [style.background-image]="'url(\'assets/images/habitats/'+model.habitats()[0]+'.jpg\')'">
    <div class="card-body main-page">
      <div class="media">
        <ngb-carousel #carousel *ngIf="model.displayMedia">
          <ng-template ngbSlide *ngFor="let medium of model.displayMedia">
            <ng-container *ngIf="medium.tagName == 'img'">
              <img class="d-block w-100"
                   [src]="model.imagePrefix + medium.fileName"
                   [alt]="medium.title">
            </ng-container>
            <ng-container *ngIf="medium.tagName == 'video'">
              <video id="vidPlayer" controls class="d-block w-100"
                     appMediaWatch [playAction]="videoPlaying" [endedAction]="videoEnded" [mediaControl]="carousel"
                     [src]="model.videoPrefix + medium.fileName">
                {{medium.title}}
              </video>
            </ng-container>
            <div class="carousel-caption d-none d-md-block">
              <h5>{{medium.title}}</h5>
              <h6>{{medium.caption}}</h6>
              <h6>{{medium.credits}}</h6>
            </div>
          </ng-template>
        </ngb-carousel>
        <div class="media-body">
          <app-organism-detail [model]="model" [customTemplate]="customTemplate"></app-organism-detail>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-nav">
    <app-organism-navigation [model]="model"></app-organism-navigation>
  </div>
</ng-container>
