  <ng-template #treeViewCustom let-model="model">
    <div class="row tree-types w-100 text-center mt-4">
      <div class="col-sm-3">
        <p>Deciduous or Evergreen</p>
      </div>
      <div class="col-sm-3">
        <p>Opposite or Alternate</p>
      </div>
      <div class="col-sm-3">
        <p class="text-center">Simple or Compound</p>
      </div>
      <div class="col-sm-3">
        <p class="text-center">Broad or Needle</p>
      </div>
    </div>
    <div class="row w-100 text-center">
      <div class="col-sm-3">
        <img [src]="model.iconForTreeType()">
      </div>
      <div class="col-sm-3">
        <img class="mx-auto" [src]="model.iconForLeafPosition()">
      </div>
      <div class="col-sm-3">
        <img class="mx-auto" [src]="model.iconForLeafStructure()">
      </div>
      <div class="col-sm-3">
        <img class="mx-auto" [src]="model.iconForLeafType()">
      </div>
    </div>
  </ng-template>
  <app-organism-view [domainClass]="treeClass()" [customTemplate]="treeViewCustom"></app-organism-view>
