<ng-container *ngIf="model$ | async as model">
  <div class="card">
    <div class="card-body">
      <div class="media">
        <img class="img-thumbnail mr-3"
             [src]="imageFilenameMatching(model.photoFilename,model.commonName)"
             [alt]="model.commonName">
        <div class="media-body">
          <div class="container">
            <div class="row w-100" *ngFor="let field of fields let i = index">
              <div class="col">
                <h4>{{fieldHeadings[i]}}</h4>
              </div>
              <div class="w-100"></div>
              <div class="col ml-5 mt-2 mb-2">
                <h4 class="text-center" *ngIf="i == 0">{{model[field]}}</h4>
                <h5 class="text-center" *ngIf="i > 0">{{model[field]}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <app-organism-navigation [model]="model"></app-organism-navigation>
    </div>
  </div>
</ng-container>
