.card-body {
  height: 80vh;
  overflow-y: scroll;
}

.card-footer {
  height: 10vh
}

.img-thumbnail {
  max-height: 60vh;
  max-width: 40vw;
  min-width: 40vw;
  object-fit: contain;
  flex-shrink: 0;
}

audio {
  width: 90%;
  max-width: 40vw
}
