.item-count {
  height: 4%;
}
.scrollable {
  flex-direction: column;
  overflow-y: scroll;
  height: 89%;
}

.card-body {
  margin-left: 0;
}
.card-header {
  margin-left: 0;
  height: 14vh;
  overflow-y: hidden;
}

.item {
  flex-shrink: 0;
  width: 100%;
}

.header-img {
  height: 0px !important;
  width: 65px;
  min-width: 65px;
  visibility: hidden;
}

.item-img {
  height: 80px !important;
  width: 80px;
  min-width: 80px;
}

.heading {
  background-color: lightgray !important;
  height: 7%;
}
