<div class="card card-default main">
  <div class="main-page" *ngIf="(rows$ | async) as rows">
    <div class="card-heading item-count">
      <h3>{{rows.length}} {{modelNamePlural | titlecase}}</h3>
    </div>
    <div class="card heading item" [style.width.%]="99">
      <div class="row w-100" organism-heading
           [input]="{specRow: {columnHeadings: columnHeadings,columnWidths: columnWidths}, modelName: modelName}"
           (sortBy)="sortBy($event)">
        <div class="col-sm-1">
        </div>
      </div>
    </div>
    <div class="card-body scrollable">
      <div class="card item border border-primary w-100" *ngFor="let row of rows" appScrollIntoView [itemId]="row.id">
        <app-organism-row class="row w-100"
                          [input]="{specRow: {columns: columns,columnWidths: columnWidths}, dataRow: row}">
          <div class="col-sm-1">
            <img class="img-thumbnail mr-3 item-img"
                 [src]="imageFilenameMatching(row.photoFilename,row.commonName)"
                 (click)="navigateTo(row)"
                 alt="">
          </div>
        </app-organism-row>
      </div>
    </div>
    <div class="bottom-nav">
      <div class="row">
        <div class="col-sm-2">
          <button class="btn btn-success org-nav-btn" onclick="window.location.href = '/';">Start over</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-success org-nav-btn" (click)="goBack()">Go Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
