<div class="background" style="background-image: url(images/CLCExploretheGreenway_Background.jpg)">
    <h1 class="page-title">Pick a Category to Explore!</h1>
    <a href='/finder/fish/search'>
        <figure class='explore-img row-3 fish'>
            <figcaption>
                <div class="figcaption-text">Fish</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Fish.png'>
        </figure>
    </a>
    <a href='/finder/reptiles/search'>
        <figure class='explore-img row-3 reptiles'>
            <figcaption>
                <div class="figcaption-text">Reptiles</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Reptiles.png'>
        </figure>
    </a>
    <a href='/finder/amphibians/search'>
        <figure class='explore-img row-3 amphibians'>
            <figcaption>
                <div class="figcaption-text">Amphibians</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Amphibians.png'>
        </figure>
    </a>
    <a href='/finder/flowers/search'>
        <figure class='explore-img row-2 flowers'>
            <figcaption>
                <div class="figcaption-text">Flowers</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Flowers.png'>
        </figure>
    </a>
    <a href='/finder/trees/search'>
        <figure class='explore-img row-2 trees'>
            <figcaption>
                <div class="figcaption-text">Trees</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Trees.png'>
        </figure>
    </a>
    <a href='/finder/mammals/search'>
        <figure class='explore-img row-2 mammals'>
            <figcaption>
                <div class="figcaption-text">Mammals</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Mammals.png'>
        </figure>
    </a>
    <a href='/finder/birds/search'>
        <figure class='explore-img row-3 birds'>
            <figcaption>
                <div class="figcaption-text">Birds</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Birds.png'>
        </figure>
    </a>
    <a href='/finder/insects/search'>
        <figure class='explore-img row-3 insects'>
            <figcaption>
                <div class="figcaption-text">Insects</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Insects.png'>
        </figure>
    </a>
    <a href='home.html'>
        <img class='back' src='images/CLCExplortheGreenway_Back.png'>
    </a>
</div>

