<div class="background" style="background-image: url(images/ASCGTrailMapZoomed.png)">
    <div class="card">
        <div class="card-body full-page-card-body">
            <h2>Hikes</h2>
        </div>
        <div class="card-footer bottom-nav">
            <div class="row w-100">
                <div class="col-sm-1">
                    <a class="btn btn-success nav-btn" href="/">Start Over</a>
                </div>
                <div class="col-sm-11"></div>
            </div>
        </div>
    </div>
</div>