<h1 class="page-title">Anne Springs Close Greenway Discovery Center</h1>
<div class="background" style="background-image: url(images/CLChomepagelayers_Background.jpg)">
    <a href='games.html'>
        <figure class='home-img games'>
            <figcaption><div class="figcaption-text">Games</div></figcaption>
            <img src='images/CLChomepagelayers_Games.png'>
        </figure>
    </a>
    <a href='info.html'>
        <figure class='home-img info'>
            <figcaption><div class="figcaption-text">Information</div></figcaption>
            <img src='images/CLChomepagelayers_Information.png'>
        </figure>
    </a>
    <a href='welcome.html'>
        <figure class='home-img history'>
            <figcaption><div class="figcaption-text">History</div></figcaption>
            <img src='images/CLChomepagelayers_History.png'>
        </figure>
    </a>
    <a href='hikes.html'>
        <figure class='home-img hikes'>
            <figcaption><div class="figcaption-text">Hikes</div></figcaption>
            <img src='images/CLChomepagelayers_Hikes.png'>
        </figure>
    </a>
    <a href='exploreGreenway.html'>
        <figure class='home-img explore'>
            <figcaption><div class="figcaption-text">Explore</div></figcaption>
            <img src='images/CLChomepagelayers_Explore.png'>
        </figure>
    </a>
    <a href='leaveNoTrace.html'>
        <figure class='home-img trace'>
            <img src='images/CLChomepagelayers_Leave-No-Trace.png'>
        </figure>
    </a>
</div>