<div class="card">
  <img class="card-img-top" src="images/homePageTop.jpg">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <a href="welcome.html" class="btn btn-success welcome-btn">Welcome</a>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col">
            <div class="row">
              <a href="tour1.html" class="btn btn-success info-btn">Information & History</a>
            </div>
            <div class="row">
              <a href="" class="btn btn-success credits-btn">Credits</a>
              <a href="" class="btn btn-danger dangers-btn">Dangers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <a href="finder/flowers/search" class="btn btn-success search-btn">Search Flowers</a>
          </div>
          <div class="col-sm-4">
            <a href="finder/trees/search" class="btn btn-success search-btn">Search Trees</a>
          </div>
          <div class="col-sm-4">
            <a href="finder/birds/search" class="btn btn-success search-btn">Search Birds</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <a href="finder/fish/search" class="btn btn-success search-btn">Search Fish</a>
          </div>
          <div class="col-sm-4">
            <a href="finder/mammals/search" class="btn btn-success search-btn">Search Mammals</a>
          </div>
          <div class="col-sm-4">
            <a href="finder/amphibians/search" class="btn btn-success search-btn">Search Reptiles Amphibians</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
