<div class="background" style="background-image: url(images/historypagebckgrd.jpg)">
    <div class="card">
        <div class="card-body full-page-card-body">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="card border-success h-100 lighten">
                        <div class="card-body">
                            At the Greenway, we practice the <b>Leave No Trace Principles</b>:
                            <h5>&nbsp;</h5>
                            <h5>The Seven Principles</h5>
                            <ul>
                                <li>Plan Ahead and Prepare</li>
                                <li>Travel and Camp on Durable Surfaces</li>
                                <li>Dispose of Waste Properly</li>
                                <li>Leave What You Find</li>
                                <li>Minimize Campfire Impacts</li>
                                <li>Respect Wildlife</li>
                                <li>Be Considerate of Other Visitors</li>
                            </ul>

                            For more information: <a href="https://lnt.org/learn/seven-principles-overview">https://lnt.org/learn/seven-principles-overview</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <div class="card-footer bottom-nav">
            <div class="row w-100">
                <div class="col-sm-1">
                    <a class="btn btn-success nav-btn" href="/">Start Over</a>
                </div>
                <div class="col-sm-11"></div>
            </div>
        </div>
    </div>
</div>