<div class="background" style="background-image: url(images/matchinggamepagebckgrd.jpg)">
    <h1 class="page-title">Pick a Category For Your Matching Game!</h1>
    <a href='/finder/games/matching/fish/image/photoFilename/text/commonName'>
        <figure class='explore-img row-3 fish'>
            <figcaption>
                <div class="figcaption-text">Fish</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Fish.png'>
        </figure>
    </a>
    <a href='/finder/games/matching/reptiles/image/photoFilename/text/commonName'>
        <figure class='explore-img row-3 reptiles'>
            <figcaption>
                <div class="figcaption-text">Reptiles</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Reptiles.png'>
        </figure>
    </a>
    <a href='/finder/games/matching/amphibians/image/photoFilename/text/commonName'>
        <figure class='explore-img row-3 amphibians'>
            <figcaption>
                <div class="figcaption-text">Amphibians</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Amphibians.png'>
        </figure>
    </a>
    <a href='/finder/games/matching/flowers/image/photoFilename/text/commonName'>
        <figure class='explore-img row-2 flowers'>
            <figcaption>
                <div class="figcaption-text">Flowers</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Flowers.png'>
        </figure>
    </a>
    <a href='/finder/games/matching/trees/image/photoFilename/text/commonName'>
        <figure class='explore-img row-2 trees'>
            <figcaption>
                <div class="figcaption-text">Trees</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Trees.png'>
        </figure>
    </a>
    <a href='/finder/games/matching/mammals/image/photoFilename/text/commonName'>
        <figure class='explore-img row-2 mammals'>
            <figcaption>
                <div class="figcaption-text">Mammals</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Mammals.png'>
        </figure>
    </a>
    <a href='/finder/games/matching/birds/image/photoFilename/text/commonName'>
        <figure class='explore-img row-3 birds'>
            <figcaption>
                <div class="figcaption-text">Birds</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Birds.png'>
        </figure>
    </a>
    <a href='/finder/games/matching/insects/image/photoFilename/text/commonName'>
        <figure class='explore-img row-3 insects'>
            <figcaption>
                <div class="figcaption-text">Insects</div>
            </figcaption>
            <img src='images/CLCExploretheGreenway_Insects.png'>
        </figure>
    </a>
    <a href='games.html'>
        <img class='back' src='images/CLCExplortheGreenway_Back.png'>
    </a>
</div>

