<div class="background" style="background-image: url(images/historypagebckgrd.jpg)">
    <div class="card">
        <div class="card-body full-page-card-body">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col h-100">
                        <div class="card border-success h-100 lighten">
                            <img class="card-img-top" src="images/DairyBarn.jpg">
                            <div class="card-body">
                                <h5>The Dairy Barn</h5>
                                <p>was built by my father in 1946 for dairy farming. the milk was sold in
                                    Charlotte, Fort Mill, and Rock Hill. Later beef cattle replaced the dairy cows.
                                    In 1996 it was renovated for parties and public events.</p>
                            </div>
                            <div class="card-footer">
                                <audio controls src="audio/Dairy Barn.mp4"></audio>
                            </div>
                        </div>
                    </div>
                    <div class="col h-100">
                        <div class="card border-success h-100 lighten">
                            <img class="card-img-top" src="images/NatureCenter.jpg">
                            <div class="card-body">
                                <h5>The Nature Center</h5>
                                <p>This turn of the century farmhouse was built by Josiah Coltharp for his
                                    growing family. It was later the home of his married daughter, Fanny Gibson.
                                    This house was moved to the Greenway and now serves as the Nature Center.</p>
                            </div>
                            <div class="card-footer">
                                <audio controls src="audio/Nature Center.mp4"></audio>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer bottom-nav">
            <div class="row w-100">
                <div class="col-sm-1">
                    <a class="btn btn-success nav-btn" href="/">Start Over</a>
                </div>
                <div class="col-sm-9"></div>
                <div class="col-sm-1">
                    <a class="btn btn-success nav-btn" href="welcome2.html">Previous Page</a>
                </div>
                <div class="col-sm-1">
                    <a class="btn btn-success nav-btn" href="tour2.html">Next Page</a>
                </div>
            </div>
        </div>
    </div>
</div>