<div class="background" style="background-image: url(images/historypagebckgrd.jpg)">
    <div class="card">
        <div class="card-body full-page-card-body">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col h-100">
                        <div class="card border-success h-100 lighten">
                            <img class="card-img-top" src="images/LogCabin.jpg">
                            <div class="card-body">
                                <h5>The Log Cabin</h5>
                                <p>was originally built by Jesse Faris about 1800, three miles from this spot.
                                    The cabin later became the home of the family of Josiah Coltharp, a
                                    Confederate soldier.</p>
                            </div>
                            <div class="card-footer">
                                <audio controls src="audio/Log Cabin.mp4"></audio>
                            </div>
                        </div>
                    </div>
                    <div class="col h-100">
                        <div class="card border-success h-100 lighten">
                            <img class="card-img-top" src="images/Springfield.jpg">
                            <div class="card-body">
                                <h5>Springfield</h5>
                                <p>was built in 1806 by my ancestor, John Springs, III. He invested in land,
                                    railroads, and cotton. Today Springfield serves as headquarters of Leroy
                                    Springs & Company.</p>
                            </div>
                            <div class="card-footer">
                                <audio controls src="audio/Springfield.mp4"></audio>
                            </div>
                        </div>
                    </div>
                    <div class="col h-100">
                        <div class="card border-success h-100 lighten">
                            <img class="card-img-top" src="images/NationFordRoad.jpg">
                            <div class="card-body">
                                <h5>Nation Ford Road</h5>
                                <p>also called "The Great Wagon Road", runs throught the Greenway property.
                                    It originated as an Indian Trading Path, but in the mid-1700s brought
                                    many Europeans to settle the Carolina back country. This path leads to
                                    the crossing, or "ford", of the Catawba River.</p>
                            </div>
                            <div class="card-footer">
                                <audio controls src="audio/Nation Ford.mp4"></audio>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer bottom-nav">
            <div class="row w-100">
                <div class="col-sm-1">
                    <a class="btn btn-success nav-btn" href="/">Start Over</a>
                </div>
                <div class="col-sm-10"></div>
                <div class="col-sm-1">
                    <a class="btn btn-success nav-btn" href="tour1.html">Previous Page</a>
                </div>
            </div>
        </div>
    </div>
</div>