<div class="card">
  <div class="card-body full-page-card-body">
    <div class="media h-100 w-100">
      <figure class="mr-3 w-50 h-100">
        <img class="w-100 h-75" src="images/SpringsFamily.jpg">
        <figcaption class="h-25 text-center">
          <p>The Greenway is a gift to the region from the eight children of Anne Springs Close.</p>
          <p class="pre-line">appearing left to right (clockwise):
            Crandall C. Bowles, Derick S. Close, H. William Close, Jr.,
            Patricia Grace Close, Leroy S. Close, Elliott S. Close,
            Katherine A. Close, Anne Springs Close and Frances A. Close</p>
        </figcaption>
      </figure>
      <div class="media-body text-center w-50 h-100">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <h3>Greenway Vision Statement</h3>
            <p>"The Greenway provides a beautiful park-like area for a wide variety of low impact recreational
              activities, while maintaining a natural wildlife habitat. By protecting the Steele Creek corridor
              and adjacent natural resources, the Greenway will serve as a buffer against urban encroachment,
              protecting the community for generations to come."</p>
            <audio controls src="audio/Mission.mp4"></audio>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer bottom-nav">
    <div class="row w-100">
      <div class="col-sm-11"></div>
      <div class="col-sm-1">
        <a class="btn btn-success nav-btn" href="">Next Page</a>
      </div>
    </div>
  </div>
</div>