<ng-container *ngIf="model$ | async as model">
  <div class="card">
    <div class="card-body">
      <div class="media">
        <img class="img-thumbnail mr-3"
             [src]="imageFilenameMatching(model.photoFilename,model.commonName)"
             [alt]="model.commonName">
        <div class="media-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-10">
                <h4>Common Name</h4>
              </div>
              <div class="w-100"></div>
              <div class="col-sm-10">
                <h4 class="text-center">{{model.commonName}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col">
                    <h4>Genus</h4>
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                    <h5 class="text-center">{{model.genus}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h4>Species</h4>
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                    <h5 class="text-center">{{model.species}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h4>Family</h4>
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                    <h5 class="text-center">{{model.familyLatin}}</h5>
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                    <h5 class="text-center">{{model.familyEnglish}}</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col">
                  <h4>Field Notes</h4>
                </div>
                <div class="col">
                  <h5 class="pre-line text-center">{{model.notes}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <img [src]="fishSizeImage(model.size)">
        </div>
        <div class="col-sm-5">
          <img class="habitat-img" [src]="fishHabitatImage(model.habitat)">
        </div>
        <div class="w-100"></div>
        <div class="col-sm-5">
          <h4>Average Size</h4>
        </div>
        <div class="col-sm-5">
          <h4>Habitat</h4>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-5">
          <h5 class="ml-5">{{model.size}}</h5>
        </div>
        <div class="col-sm-5">
          <h5 class="ml-5">{{model.habitat}}</h5>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <app-organism-navigation [model]="model"></app-organism-navigation>
    </div>
  </div>
</ng-container>
