<ng-container *ngIf="model$ | async as model">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col">
              <figure class="img-thumbnail">
                <img class="img-thumbnail mr-3"
                     [src]="imageFilenameMatching(model.photoFilename,model.commonName)"
                     [alt]="model.commonName">
                <figcaption class="text-right">{{model.photoText1}}</figcaption>
              </figure>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <h4>Family</h4>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <h5 class="text-center">{{model.familyLatin}}</h5>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <h5 class="text-center">{{model.familyEnglish}}</h5>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <h4>Habitat</h4>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <h5 class="text-center">{{model.habitat}}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col">
              <h4>Common Name</h4>
            </div>
            <div class="w-100"></div>
            <div class="col mb-2">
              <h4 class="text-center">{{model.commonName}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col">
                  <h4>Genus</h4>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <h5 class="text-center">{{model.genus}}</h5>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <h4>Species</h4>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <h5 class="text-center">{{model.species}}</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col">
                  <h4>Field Notes</h4>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <h5 class="pre-line text-center">{{model.notes}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <video controls [src]="videoFilenameMatching(model.videoFilename,model.commonName)"></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <app-organism-navigation [model]="model"></app-organism-navigation>
  </div>
</ng-container>
