<div class="card" *ngIf="rows$ | async as rows">
  <div class="card-header">
    <div class="row item">
      <h5>{{rows.length}} {{modelName + 's' | titlecase}}</h5>
      <div class="card w-100">
        <div class="media">
          <img class="img-thumbnail mr-3" src="/assets/images/1x1.jpg" width="80px" height="1px"
               alt="Generic placeholder image" [style.visibility]="'hidden'">
          <div class="media-body">
            <div class="row" organism-heading
                 [input]="{specRow: {columnHeadings: columnHeadings,columnWidths: columnWidths}}">
              <div class="col-sm-1">
                <h5>Action</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="scrollable">
      <div class="row item" *ngFor="let row of rows">
        <div class="card border border-primary w-100" id="item-card">
          <div class="media w-100">
            <img class="img-thumbnail" [src]="imageFilenameMatching(row.photoFilename,row.commonName)" width="80px"
                 height="80px"
                 alt="">
            <div class="media-body">
              <div class="row mr-1">
                <div class="col-sm-4">
                  <div class="col-sm-12">
                    <h5 [id]="'commonName' + row.id">{{row.commonName}}</h5>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-sm-12">
                    <h5 [id]="'genus' + row.id">{{row.genus}}</h5>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="row">
                    <div class="col-sm-3">
                      <img [src]="row.iconForTreeType()" [id]="'treeType' + row.id">
                    </div>
                    <div class="col-sm-3">
                      <img [src]="row.iconForLeafPosition()" [id]="'leafPosition' + row.id">
                    </div>
                    <div class="col-sm-3">
                      <img [src]="row.iconForLeafStructure()" [id]="'leafStructure' + row.id">
                    </div>
                    <div class="col-sm-3">
                      <img [src]="row.iconForLeafType()" [id]="'leafType' + row.id">
                    </div>
                  </div>
                </div>
                <div class="col-sm-1">
                  <button class="btn btn-primary zoom" (click)="navigateTo(row)">Zoom</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

