<div class="card card-default main">
  <div class="main-page" *ngIf="rows$ | async as rows">
    <div class="card-heading item-count">
      <h3>{{rows.length}} {{modelName + 's' | titlecase}}</h3>
    </div>
    <div class="card heading item" [style.width.%]="99">
      <div class="row w-100" organism-heading
           [input]="{specRow: {columnHeadings: columnHeadings,columnWidths: columnWidths}, modelName: modelName}"
           (sortBy)="sortBy($event)">
      </div>
    </div>
    <div class="card-body scrollable">
      <div class="card item border border-primary w-100" id="item-card" *ngFor="let row of rows" appScrollIntoView
           [itemId]="row.id">
        <div class="row w-100">
          <div class="col-sm-1">
            <img class="img-thumbnail mr-3 item-img"
                 [src]="imageFilenameMatching(row.photoFilename,row.commonName)"
                 (click)="navigateTo(row)"
                 alt="">
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-12">
                <h5 [id]="'commonName' + row.id">{{row.commonName}}</h5>
              </div>
              <div class="w-100"></div>
              <div class="col-sm-12">
                <h5 [id]="'scientificName' + row.id">{{row.scientificName}}</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-3 d-block text-center">
                <img [src]="row.iconForTreeType()" [id]="'treeType' + row.id" [style.width.px]="95">
              </div>
              <div class="col-sm-3 d-block text-center">
                <img [src]="row.iconForLeafPosition()" [id]="'leafPosition' + row.id">
              </div>
              <div class="col-sm-3 d-block text-center">
                <img [src]="row.iconForLeafStructure()" [id]="'leafStructure' + row.id">
              </div>
              <div class="col-sm-3 d-block text-center">
                <img [src]="row.iconForLeafType()" [id]="'leafType' + row.id">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-nav">
      <div class="row">
        <div class="col-sm-2">
          <button class="btn btn-success org-nav-btn" onclick="window.location.href = '/';">Start over</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-success org-nav-btn" (click)="goBack()">Go Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
